{% extends "layout2.html" %}
{% block title %} Welcome User {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-5">
            <h1 class="text-uppercase">introduction</h1>
            <p class="p-5 text-format" >Welcome <b>{{email}}</b>. We have a collection of <b>5000 books</b> with 
                <u><i>book titles</i></u>  and <u><i>author names</i></u>.
                We welcome you and would like to  <b>record your reviews</b> on the books you have read. Search 
                a book of your interest in search window and then head to the review section to contribute 
                towards our cause.
            </p>
        </div>
    </div>
</div>
{% endblock %}